@media screen and (max-width: 991px){
  .row{
    flex-direction: column;
    gap: 0;
  }
  .col-md-1{
    width: 100% !important;
  }
  .col-md-2{
    width: 100% !important;
  }
  .col-md-3{
    width: 100% !important;
  }
  .col-md-4{
    width: 100% !important;
  }
  .col-md-5{
    width: 100% !important;
  }
  .col-md-6{
    width: 100% !important;
  }
  .col-md-7{
    width: 100% !important;
  }
  .col-md-8{
    width: 100% !important;
  }
  .col-md-9{
    width: 100% !important;
  }
  .col-md-10{
    width: 100% !important;
  }
  .col-md-11{
    width: 100% !important;
  }
  .col-md-12{
    width: 100% !important;
  }
}


@media screen and (max-width: 1500px){
  .center-container{
    width: 90%;
  }
}

@media screen and (max-width: 1200px){
  .center-container{
    width: 100%;
  }
}

@media screen and (max-width: 991px){
  .auto-flex-block{
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 550px){
  .autorization-block{
    width: 100% !important;
  }
}
@media screen and (max-width: 991px){
  .hide-on-mobile{
    display: none !important;
  }
  .table-block{
    // width: 100%;
    max-width: unset !important;
  }
  .reverse-row-mobile{
    flex-direction: column-reverse !important;
  }
.nav-item span, .nav-item a, .nav-item strong{
  color: var(--main-text-color-2) !important;
  font-size: 16px !important;
}
}
.show-on-mobile{
  display: none !important;
}
@media screen and (max-width: 767px){
  .show-on-mobile{
    display: block !important;
  }
  .users-table{
    max-width: 100% !important;
  }
  .header{
    padding: 10px !important;
  }
  #sidebar{
    margin: 0 !important;
    height: 100%;
    border-radius: 0 !important;
  }
  .app-container{
    flex-direction: column;
  }
  .nav-item span, .nav-item a, .nav-item strong{
    font-size: 15px !important;
  }
}
@media screen and (max-width: 1280px){
  .hide-on-laptop{
    display: none !important;
  }
}



@media screen and (max-width: 500px){
  .profile-body .user-avatar img {

    width: 100px !important;
    height: 100px !important;
    min-height: 100px !important;
    max-height: 100px !important;
  }
  .profile-body .user-avatar {
    width: 100px !important;
    height: 100px !important;
    min-height: 100px !important;
    max-height: 100px !important;
  }
  .profile-cover{
    height: 110px !important;
  }
  .user-desc{
    margin-left: 140px !important;
  }
  .user-desc div, .user-desc span{
    font-size: 18px !important;
  }
  .user-desc #user-id{
    font-size: 12px !important;
  }
}

@media screen and (max-width: 350px){
  .user-desc div, .user-desc span{
  font-size: 16px !important;
  }
  .user-desc #user-id{
    font-size: 12px !important;
  }
  .user-desc{
    margin-left: 130px !important;
  }
}