.forecasts-chart-block{
  display: flex;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  overflow-x: auto;

  overflow-x: auto !important ;
  scrollbar-width: none !important ; /* Firefox */
  -ms-overflow-style: none !important ;  /* IE и Edge */
}