// @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: Inter;
  src: url("imported_fonts/Inter-VariableFont_opsz,wght.ttf") format("opentype");
}
.app-container {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  transition: margin-left 0.3s ease;
  height: 100dvh;
}
.app-content{
  width: 100%;
}
.body-container{
  display: flex;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  color: var(--main-text-color);
  font-size: 14px;
}
.g-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px !important;
  line-height: 1;
  vertical-align: middle;
}
.logo-icon{
  width: 100%;
  height: auto;
  width: 52px;
}
.app-body{
  width: 100%;
}
.checkbox-field{
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  white-space: nowrap;
}
:root {
  --main-color: #e8ebeb;
  --main-color-light-1: #d4d4d4;
  --main-color-light-2: #e0e0e0;
  --main-color-light-3: #f5f5f5;
  --main-color-light-4: #e4e4e4;
  --main-text-color: #1b1b1b;
  --main-text-color-2: #768686;
  --main-text-color-3: #f3f3f3;
  --main-text-color-dark: #1b1b1b;

  --primary: #12848f;
  --hover-primary: #1f97a1;
  --transperent-primary: #1f97a12e;
  --danger: #d33e4a;
  --hover-danger: #c23a45;
  --default: #4b4d61;
  --hover-default: #595a6b;
  --success: #17a050;
  --hover-success: #1e9750;
  --warning: #e0740e;
  --hover-warning: #d47012;
  
  --border-radius: 5px;
  --xl-border-radius: 10px;
  --xxl-border-radius: 15px;
  
  --border-radius-right: 5px;
  --border-radius-right: 5px;
  --border-radius-left: 5px;
  --border-radius-left: 5px;
  
  --border-radius-right: 0 5px 5px 0;
  --border-radius-left: 5px 0 0 5px;
  --border-radius-top: 5px 5px 0 0;
  --border-radius-bottom: 0 0 5px 5px;
  
  --xl-border-radius-right: 0 10px 10px 0;
  --xl-border-radius-left: 10px 0 0 10px;
  --xl-border-radius-top: 10px 10px 0 0;
  --xl-border-radius-bottom: 0 0 10px 10px;
  
  --xxl-border-radius-right: 0 15px 15px 0;
  --xxl-border-radius-left: 15px 0 0 15px;
  --xxl-border-radius-top: 15px 15px 0 0;
  --xxl-border-radius-bottom: 0 0 15px 15px;
  
  --toastr-bg: #e8e8e8bd;
  --toastr-color: #1b1b1b;
  --toastr-border: #dddddd;
  
  --table-block-color: #f5f5f5;
  --table-block-hover: #f2f2f2;
  
  --border-color-1:#cacaca;
  --border-color-2:#e9e9e9;
  --border-color-3:#f1f1f1;
  
  --input-bg: #ebebeb;
  --input-border: #e0e0e0;
}
.with-hidden-scrollbar-y{
  overflow-y: auto !important ;
  scrollbar-width: none !important ; /* Firefox */
  -ms-overflow-style: none !important ;  /* IE и Edge */
}
.with-hidden-scrollbar-y::-webkit-scrollbar {
  display: none !important ; /* Chrome, Safari, Opera */
}
.with-hidden-scrollbar-x{
  overflow-x: auto !important ;
  scrollbar-width: none !important ; /* Firefox */
  -ms-overflow-style: none !important ;  /* IE и Edge */
}
.with-hidden-scrollbar-y::-webkit-scrollbar {
  display: none !important ; /* Chrome, Safari, Opera */
}
.with-hidden-scrollbar{
  overflow: auto !important ;
  scrollbar-width: none !important ; /* Firefox */
  -ms-overflow-style: none !important ;  /* IE и Edge */
}
.with-hidden-scrollbar-y::-webkit-scrollbar {
  display: none !important ; /* Chrome, Safari, Opera */
}



html, body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.app-container {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.app-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.app-body {
  overflow-y: auto;
  min-height: 0;
}










img{
  width: 100%;
  height: auto;
}
.btn{
  width: fit-content;
  border: 2px solid var(--border-color-1);
  white-space: nowrap;
  cursor: pointer;
}
.filled-block{
  padding: 15px;
  border-radius: var(--xxl-border-radius);
  background: var(--table-block-color);
}
hr{
  border: 1px solid var(--main-color) !important;
  margin: 15px 0 !important;
  border-radius: 10px !important;
}
table tbody tr{
  transition: .3s ease;
  cursor: pointer;
}
table tbody tr:hover{
  background: var(--table-block-hover);
}
.table-block{
  width: 100%;
  background: var(--table-block-color);
  padding: 15px;
  border-radius: var(--xxl-border-radius);
  max-height: 100%;
  // overflow-y: auto;
  // max-height: 100dvh;
  // overflow-x: hidden;
}
table{
  border-collapse: collapse;
}
table td, table th{
  padding: 5px;
  text-align: center;
}
table.big-table td, table th{
  padding: 10px;
  text-align: center;
}
table tr:not(:last-child){
  border-bottom: 1px solid var(--border-color-1);
  padding: 6px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: var(--input-bg);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
  margin: 8px 0;

  &:hover {
    background: var(--main-color-light-1);
  }

  &::-webkit-slider-runnable-track {
    height: 8px;
    background: var(--input-bg);
    border-radius: 4px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary);
    border: 2px solid var(--border-color-1);
    margin-top: -6px; 
    transition: background 0.3s;

    &:hover {
      background: var(--hover-primary);
    }
  }

  &::-moz-range-track {
    height: 8px;
    background: var(--input-bg);
    border-radius: 4px;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary);
    border: 2px solid var(--border-color-1);
    transition: background 0.3s;

    &:hover {
      background: var(--hover-primary);
    }
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--input-border) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--input-bg) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: var(--main-text-color) !important;
}
input[type="submit"] {
  cursor: pointer;
}
s:not(:last-child){
  margin-bottom: 10px !important;
}
.form-fields .field,
.form-fields .checkbox-field{
  margin-bottom: 10px !important;
}
.field span.select2.select2-container.select2-container--default,
.field input,
.field select,
.field textarea{
  margin-top: 5px;
}
/* Основной стиль — поле выбора */
.select2-container--default .select2-selection--single {
  background-color: var(--input-bg) !important;
  border: 1px solid var(--input-border) !important;
  border-radius: var(--border-radius) !important;
  height: auto !important;
  padding: 10px !important;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  color: var(--main-text-color) !important;
  box-shadow: none !important;
  transition: border 0.2s ease;
}

/* Текст внутри */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--main-text-color) !important;
  line-height: 1.5 !important;
}

/* Убрать иконку стрелки или оставить по желанию */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  right: 5px !important;
  top: 8px !important;
}
// .select2-results__option{
//   background: #f1f1f1 !important;
// }
.select2-results__option:not(:last-child){
  margin-bottom: 5px !important;
}
/* Стилизация выпадающего списка */
.select2-container--default .select2-dropdown {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: var(--border-radius);
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  color: var(--main-text-color);
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* Пункт внутри dropdown */
.select2-container--default .select2-results__option {
  padding: 8px 12px;
  color: var(--main-text-color);
  background-color: var(--input-bg);
  transition: background 0.2s ease;
}
input.select2-search__field{
  background: #f4f4f4f4 !important;
  padding: 10px !important;
}
/* При наведении */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: var(--main-color-light-2);
  color: var(--main-text-color);
}

/* Выбранный пункт */
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: var(--main-color-light-3);
  color: var(--main-text-color-dark);
}
input, select, textarea{
  border: 1px solid var(--input-border) !important;
  width: 100%;
  padding: 10px;
  border-radius: var(--border-radius);
  background: var(--input-bg) !important;
  background-color: var(--input-bg) !important;
  font-weight: 700;
  color: var(--main-text-color);
  border: unset;
  font-family: "Roboto Mono", monospace;
}
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active{
  outline: none;
  box-shadow: none;
  border: none;
  background: none;
  color: inherit;
}
::-webkit-scrollbar {
  width: 5px;
  background: var(--secondary-color) !important;
  // border-radius: 10px !important;
}
::-webkit-scrollbar-track {
  background: #252525 !important;
  // border-radius: 10px !important;
}
::-webkit-scrollbar-thumb {
  // border-radius: 10px !important;
  height: 50px;
  background: #333333 !important;
}
.row{
  width: 100%;
  display: flex;
  gap: 10px;
}
.col-md-1{
  width: 8.33333333333%;
}
.col-md-2{
  width: 16.6666666667%;
}
.col-md-3{
  width: 25%;
}
.col-md-4{ 
  width: 33.3333333333%;
}
.col-md-5{
  width: 41.6666666667%;
}
.col-md-6{
  width: 50%;
}
.col-md-7{
  width: 58.3333333332%;
}
.col-md-8{
  width: 66.6666666667%;
}
.col-md-9{
  width: 7.0000000002%;
}
.col-md-10{
  width: 83.3333333333%;
}
.col-md-11{
  width: 91.6666666666%;
}
.col-md-12{
  width: 100%;
}
.text-danger{
  color: var(--danger) !important;
}
.text-success{
  color: var(--success) !important;
}
.text-warning{
  color: var(--warning) !important;
}
.text-primary{
  color: var(--primary) !important;
}
.text-danger span{
  color: var(--danger) !important;
}
.text-success span{
  color: var(--success) !important;
}
.text-warning span{
  color: var(--warning) !important;
}
.text-primary span{
  color: var(--primary) !important;
}
.btn-danger{
  background: var(--danger) !important;
  transition: .3s ease;
  color: var(--main-text-color-3) !important;
  
}

.btn-default{
  background-size: 0% 100%;
  transition: background-color .5s;
  border: 2px solid var(--border-color-1) !important;
}
.btn-default:hover{
  background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(202, 202, 202, 0.7) 100%);
  background-repeat:no-repeat;
  background-size: 200% 100%; 
  transition:background-size 1s, background-color 1s;
}

.btn-success{
  background: var(--success) !important;
  transition: .3s ease;
  color: var(--main-text-color-3) !important;
}
.btn-warning{
  background: var(--warning) !important;
  transition: .3s ease;
  color: var(--main-text-color-3) !important;
}
.btn-primary{
  background: var(--primary) !important;
  transition: .3s ease;
  color: var(--main-text-color-3) !important;
}
.btn-danger span{
  color: var(--main-text-color-3) !important;
}
.btn-success span{

  color: var(--main-text-color-3) !important;
}
.btn-warning span{

  color: var(--main-text-color-3) !important;
}
.btn-primary span{

  color: var(--main-text-color-3) !important;
}
.btn-danger:hover{
  background: var(--hover-danger) !important;
}
.btn-success:hover{
  background: var(--hover-success) !important;
}
.btn-warning:hover{
  background: var(--hover-warning) !important;
}
.btn-primary:hover{
  background: var(--hover-primary) !important;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.underlined{
  text-decoration: underline;
}
.crossed{
  text-decoration: line-through;
}
.italic{
  font-style: italic;
}
body{
  background: var(--main-color);
  width: 100%;
}
.container{
  width: 100%;
}
.space-between{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-row-center{
  display: flex;
  align-items: center;
  gap: 10px;
}
.flex-row-end{
  display: flex;
  align-items: center;
  gap: 10px;
}
.flex-row-start{
  display: flex;
  align-items: center;
  gap: 10px;
}
.content-panel-header{
  background: var(--table-block-color);
  padding: 15px;
  border-radius: var(--xl-border-radius);
}
.flex-row{
  display: flex;
  gap: 10px;
}
.flex-block{
  display: flex;
  gap: 15px;
}
.dice-block{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.auto-flex-block .first-auto-elem{
  width:  100%;
}
.content{
  padding: 15px;
}
.center-container{
  width: 70%;
  margin: 0 auto;
}
.text-muted{
  color: #919191 !important;
}

.text-small{
  font-size: 12px !important;
}
.text-big{
  font-size: 16px !important;
}

.gradient-hover {
  background-size: 0% 100%;
  transition: background-color .5s;
}
.gradient-hover:hover {
  background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(202, 202, 202, 0.7) 100%);
  background-repeat:no-repeat;
  background-size: 200% 100%; 
  transition:background-size 1s, background-color 1s;
}
button{
  font-size: 14px;
  border: unset;
  background: var(--main-color-light);
  color: var(--main-text-color);
  white-space: nowrap;
  cursor: pointer;
  border: none;       /* Убирает рамку */
  outline: none;      /* Убирает обводку при фокусе */
  box-shadow: none;   /* Убирает возможную тень */
  background: none;   /* Если нужно убрать фон */
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
  // border: none;
}
.large-btn{
  padding: 15px 20px;
  border-radius: 20px;
  white-space: nowrap;
}
.medium-btn{
  padding: 10px 15px;
  border-radius: var(--border-radius);
  white-space: nowrap;
}
.small-btn {
  padding: 5px 10px;
  border-radius: var(--border-radius);
  white-space: nowrap;
  display: inline-flex;
  // align-items: center;
  gap: 5px;
  justify-content: center;
}
.mini-btn{
  display: inline-flex;
  // align-items: center;
  gap: 5px;
  justify-content: center;
  padding: 2px 4px;
  line-height: 1;
  border-radius: var(--border-radius);
}
a{
  text-decoration: none;
}