.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-color-light-3);
  padding: 10px 15px;
  height: 52px;
  -webkit-box-shadow: 0px 5px 4px -4px rgba(50, 70, 85, 0.04);
  -moz-box-shadow: 0px 5px 4px -4px rgba(50, 70, 85, 0.04);
  box-shadow: 0px 5px 4px -4px rgba(50, 70, 85, 0.04);
}
.separator i{
  color: #7b7b7b;
}
.nav-item{
  display: flex;
  align-items: center;
  gap: 5px;
}

.app-header {
  z-index: 1555;
}
.logo-block{
  display: flex;
  align-items: center;
  gap: 5px;
  height: 52px;
}
.logo-text{
  font-size: 18px;
  color: var(--primary) !important;
  font-weight: 700;
}