.message {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: var(--border-radius);

  &.own {
    background-color: var(--main-color-light-3);
    text-align: right;
  }

  &:not(.own) {
    background-color: var(--main-color-light-1);
    text-align: left;
  }
}
