#sidebar {
  width: 250px;
  height: 100svh;
  background: var(--main-color-light-3);
  // padding: 15px 0;
  margin: 15px 0 15px 15px;
  border-radius: var(--xxl-border-radius);
  transition: transform 0.3s ease;
  z-index: 1222;

}
#sidebar .logo{
  margin-bottom: 30px;
}
@media screen and (max-width: 767px){
  #sidebar{
    position: fixed;
    transform: translateX(-100%);
    top: 0;
    left: 0;
  }
}
#sidebar.active {
  transform: translateX(0);
}

.menu-btn {
  z-index: 1100;
  font-size: 24px;
  background: none;
  border: none;
  // color: #333;
  cursor: pointer;
}

#sidebar.active ~ .app-container {
  margin-left: 300px;
}

#sidebar .logo{
  text-align: center;
}
#sidebar .logo a span{
  font-size: 22px !important;
  font-weight: 700;
}

#sidebar-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1113;
}

#sidebar-overlay.active {
  opacity: 1;
  pointer-events: auto;
}
.nav-items{

  padding: 15px 0 15px 15px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // margin-left: 20px;
  
  gap: 5px;
} 
.nav-item span, .nav-item a, .nav-item strong{
  color: var(--main-text-color-2) !important;
  font-size: 16px;
}
.nav-item.active span, .nav-item.active a, .nav-item.active strong{
  color: var(--primary) !important;
}
.nav-item.active{
  border-right: 4px solid var(--primary);
}
.nav-item{
  text-align: center;
  padding: 10px;
  transition: .3s ease;
  color: var(--main-text-color-2) !important;
  border-radius: var(--xl-border-radius) 0 0 var(--xl-border-radius);
}
// .nav-item:hover{
//   background: #36404b;
// }

.side-bar-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.side-bar-dop-menu{
  border-top: 2px solid var(--border-color-2);
}