.header-profile-photo, .profile-photo{
  width: 30px;
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
}
.header-profile-photo img, .profile-photo img{
  width: 30px;
  height: 30px;
  max-height: 30px;
  min-height: 30px;

}
.user-info-block{
  background: var(--table-block-color);
  padding: 15px;
  border-radius: var(--xxl-border-radius);
}

.header-profile-photo img, .profile-photo img{
  border-radius: 50%;
}
.header-profile-photo, .profile-photo{
  position: relative;
}
.user-block{
  display: flex;
  align-items: end;
  gap: 7px;
}
.profile-image-block img{
  border-radius: 50%;
  border: 3px solid var(--border-color-2)
}
.profile-image-block{
  border-radius: var(--xxl-border-radius);
}

.profile-image-block{
  width: 200px;
  
  cursor: pointer;
}
.users-table{
  width: fit-content;
}

.profile-block{
  background: var(--table-block-color);
  border-radius: var(--xxl-border-radius);
  padding: 15px;
  width: 100%;
}
span.user_online {
  background: var(--success);
}

span.user_offline, span.user_online{
  max-width: 10px; max-height: 10px; 
  min-width: 10px; min-height: 10px; 
  width: 10px; height: 10px;

  border-radius: 50%;
  position: absolute;
  bottom: 1px;
  right: 1px;
}
span.user_offline {
  background: var(--danger);
}

.user-avatar{
  font-family: "Rowdies", serif !important;
  font-size: 24px;
  // background: var(--primary);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.users-block .user{
  margin-bottom: 10px;
}
.user:hover{
  background: var(--block-hover);
  border: 1px solid var(--block-border-hover);
  box-shadow: var(--block-shadow);
}
.user a {
  display: flex;
  gap: 10px;
}
.user{
  cursor: pointer;
  transition: .3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  background: var(--main-color-light-3);
  border: 1px solid var(--border-color-1);
  height: 60px;
}
.user-controls a{
  font-size: 20px;
}
.user-form-block input,
.user-form-block select{
  margin-bottom: 10px;
}

.save-btn:hover{
  // background: var(--brand-hover-color);
}
.save-btn{
  transition: .3s ease;
  cursor: pointer;
  // background: var(--primary);
}
.user-controls-panel{
  background: var(--main-color-light-3);
}
.user-controls-panel{
  height: 100vh;
}
.user-controls-panel,
.user-actions-panel{
  padding: 5px 5px;
}
.user-info-panel{
  // padding: 5px 0;
}
.profile-cover{
  font-family: "Rowdies", serif !important;
  background: var(--main-color-light-3);
  color: var(--main-text-color);
  height: 150px;
  width: 100%;
  border-radius: 25px;
  font-size: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-body .user-avatar img{
  width: 120px;
  height: 120px;
  min-height: 120px !important;
  max-height: 120px !important;
  z-index: 1111;
  font-size: 70px;
}
.profile-body .user-avatar{
  width: 120px;
  height: 120px;
  min-height: 120px !important;
  max-height: 120px !important;
  z-index: 1111;
  font-size: 70px;
}
.profile-picture{
  padding: 10px;
  position: absolute;
  border-radius: 50%;
  bottom: 15px;
  margin-left: 10px;
  background: var(--main-color);
}
.profile-body{
  padding: 15px 0;
  position: relative;
  height: 100px;
  display: block;
}
.user-desc div,
.user-desc span{
  font-size: 24px;
}
.user-desc{
  display: flex;
  margin-left: 160px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.user-edit-btn span{
  font-size: 16px  !important;
}
.user-edit-btn i{
  font-size: 20px;
}
.user-edit-btn:hover{
  background: var(--block-hover);
  border: 1px solid var(--block-border-hover);
  box-shadow: var(--block-shadow);
}
.user-edit-btn{
  transition: .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px !important;
  border: 1px solid var(--border-color-1);
  border-radius: 10px;
  padding: 10px;
}
.user-registered-info{
  margin-top: 25px;
  padding: 10px;
  border-bottom: 1px solid var(--border-color-1);
}
.user-coins-head{
  margin-top: 15px;
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color-1);
}
.user-settings-head{
  padding-bottom: 10px;
}
.user-settings-body{
  margin-left: 15px;
}
.edit-user-title i,
.new-user-title i,
.back-to-users i{
  margin-right: 10px;
}
.edit-user-title,
.new-user-title,
.back-to-users{
  // padding-bottom: 15px;
  margin-bottom: 15px;
  // border-bottom: 1px solid var(--border-color-1);
  display: flex;
  align-items: center;
}
.add-user-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color-1);
  // background: var(--main-color-light-3);
}
.all-users-info{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color-1);
}

.user-info-nav{
  display: flex;
  gap: 10px;
  align-items: center;
}