.row
  .col-md-6
    .dice-block
      %div
        = render partial: "new_game"
      %div
        #games_history_container
          = render partial: "games_history", locals: { history: @history }

